{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'test_app/include_files/head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include 'test_app/include_files/navigation.html' %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div>
                            <div class="mb-5">
                                <div class="text-center">
                                    <h1 class="fw-bolder">ВЫКУП ТОВАРА ИЗ КИТАЯ</h1>
                                </div>
                                <br>
                                <p class="lead fw-normal text-muted mb-0"><b>Мы НЕ занимаемся поиском товара.
                                    Клиенты сами выбирают товар на рекомендованных нами сайтах и заполняют таблицу,
                                    по которым мы производим расчёт и дальнейший выкуп товара. Скачать таблицу можно здесь.</b></p>
                                <br>
                                <br>
                                <div class="text-center mb-5">
                                    <a href="/media/blank-zakaza.xlsx" download="">
                                        <button class="s-button" type="button">Скачать бланк заказа</button>
                                    </a>
                                </div>
                                <br>
                                <br>
                                <div class="big_block">
                                    <div class="small_block">
                                        <p class="lead fw-normal text-muted mb-0">Мы всегда можем помочь советом в выборе поставщика,
                                            но поиск за клиента нужного товара на просторах китайских торговых площадок, подбор продавцов
                                            и ссылок для выкупа, увы, эти услуги мы НЕ предоставляем.</p>
                                    </div>
                                    <div class="small_block">
                                        <img class="img-fluid rounded-3 mb-5" src="/media/containers1.jpg" alt="..." />
                                    </div>
                                </div>
                                <br>
                                <div class="big_block">
                                    <div class="small_block">
                                        <p class="lead fw-normal text-muted mb-0">Наша комиссия за выкуп в большинстве случаев фиксированная -
                                            это 10% ОТ СУММЫ ВЫКУПА. Но, при заказе более, чем на 5000$, наша комиссия будет 8%, от 10 000$ -
                                            комиссия 5%. Чем больше сумма выкупа, тем ниже наш процент. Как и в доставке,
                                            доллары в данном случае - это элемент международной системы расчётов, оплату за заказ в
                                            долларах мы НЕ принимаем. В нашу комиссию входит сам выкуп, базовая проверка товара и
                                            упаковки на соответствие заказу (количество, цвет, размер) и брак, фото товара.
                                            Видео обзор товара снимаем по запросу клиента.</p>
                                    </div>
                                    <div class="small_block">
                                        <img class="img-fluid rounded-3 mb-5" src="/media/containers2.jpg" alt="..." />
                                    </div>
                                </div>
                                <br>
                                <div class="big_block">
                                    <div class="small_block">
                                        <p class="lead fw-normal text-muted mb-0">Работаем ТОЛЬКО с оптом. Крупным, средним и мелким, но всё же, с оптом.
                                            Здесь имеется ввиду, что количество каждой позиции не должно быть менее 5 штук.
                                            Такие условия помогают нам оптимизировать нашу работу, оперативнее обрабатывать заявки и поступивший товар.</p>
                                    </div>
                                    <div class="small_block">
                                        <img class="img-fluid rounded-3 mb-5" src="/media/containers3.jpg" alt="..." />
                                    </div>
                                </div>
                                <br>
                                <p class="lead fw-normal text-muted mb-0">В любом случае, мы всегда готовы ответить на Ваши вопросы и
                                    сделать процесс закупки товара из Китая максимально комфортным.</p>
                                <br>
                                <br>
                                <br>
                                <div class="text-center">
                                    <a href="{% url 'test_app:contact_us' %}">
                                        <button class="s-button" type="button">Связаться с нами.</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Call to action-->
        {% include 'test_app/include_files/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
