{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'test_app/include_files/head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include 'test_app/include_files/navigation.html' %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="mb-5">
                                <h1 class="fw-bolder">Проверка товара</h1>
                                <p class="lead fw-normal text-muted mb-0">Осуществляем проверку вашего товара любой сложности:</p>
                                <br>
                                <p class="lead fw-normal text-muted mb-0">Детальная проверка на брак — 2$ за 1 кг.</p>
                                <p class="lead fw-normal text-muted mb-0">Проверка на соответствие заказу (количество, размеры и другие спецификации) — 1,5$ за 1 кг. </p>
                                <p class="lead fw-normal text-muted mb-0">Выезд на фабрику с инспекцией — от 100$ за день инспекции.</p>
                                <p class="lead fw-normal text-muted mb-0">По запросу делаем фото и видео отчёт клиенту (стоимость обговаривается отдельно).</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="/media/room3.jpg" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/media/room2.jpg" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/media/room1.jpg" alt="..." /></div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Call to action-->
        {% include 'test_app/include_files/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>