{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'test_app/include_files/head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include 'test_app/include_files/navigation.html' %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-6">
                            <div class="mb-5">
                                <h1 class="fw-bolder">Доставка в РФ</h1>
                                <p class="lead fw-normal text-muted mb-0">Осуществляем доставку грузов в любой город РФ через надёжных и
                                    проверенных годами перевозчиков. Доставка осуществляется до склада в Москве,
                                    далее идёт транспортной компанией в город назначения.
                                    Мы тщательно и надёжно упаковываем груз, потому что нам важно, чтобы наши клиенты не платили за воздух, а так же,
                                    чтобы товар дошёл в целости и сохранности.
                                    Тарифы на доставку зависят от веса, плотности и типа товаров. Уточняйте, мы с радостью ответим на любые вопросы..</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="/media/delivery2.jpg" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/media/delivery3.jpg" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/media/delivery1.jpg" alt="..." /></div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Call to action-->
        {% include 'test_app/include_files/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
