{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    {% include 'test_app/include_files/head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include 'test_app/include_files/navigation.html' %}
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Здравствуйте, дорогие друзья!</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Кто ещё с нами не знаком, нас зовут Владимир и Татьяна. Больше четырёх лет мы живём в Гуанчжоу и специализируемся на выкупе, проверке и отправке товаров из Китая в Россию. В Гуанчжоу у нас есть свой склад, а полтора года назад официально открылась наша компания «Рассвет».</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://wa.me/79043812323">Написать нам в ватсап</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="media/cropped-111.png" alt="..." /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Итак, чем мы занимаемся?</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5 row-cols-1 row-cols-md-2">
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                                    <h2 class="h5">ВЫКУП ТОВАРА</h2>
                                    <p class="mb-0">Выкупим Ваш товар (без минимальной суммы закупа), с нашей комиссией — 10% от суммы заказа. В стоимость входит базовая проверка на брак и осмотр на повреждения упаковки. Кроме того можем консолидировать товар от разных поставщиков на нашем складе и упаковать для отправки.</p>
                                </div>
                                <div class="col mb-5 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                                    <h2 class="h5">ПРОВЕРКА ТОВАРА</h2>
                                    <p class="mb-0">Весь выкупаемый товар приходит на наш склад, и мы лично проверяем груз перед отправкой из Китая. По запросу делаем фото и видео отчёт клиенту. По необходимости, можем выехать на фабрику с инспекцией — от 100$ за день инспекции.</p>
                                </div>
                                <div class="col mb-5 mb-md-0 h-100">
                                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                                    <h2 class="h5">ДОСТАВКА В РФ</h2>
                                    <p class="mb-0">Мы сотрудничаем с несколькими карго компаниями, которые проверены многими и многими партиями грузов. Поэтому мы знаем, как оптимально по цене, качеству и скорости отправлять товары разных объемов. Доставка осуществляется до склада в Москве, далее идёт транспортной компанией в город назначения.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- видео-->
            <div class="text-center">
                <iframe width="1600" height="900" src="https://www.youtube.com/embed/SW4NLr0QDLM"></iframe>
            </div>
            <!-- Testimonial section-->
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <div class="fs-4 mb-4 fst-italic">
                                    <h2 class="fw-bolder mb-0">Наши отзывы:</h2>
                                    <br>
                                    <br>

                                    {% for item in client %}
                                        <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                                        <div class="d-flex align-items-center justify-content-center">
                                        <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                        <div class="fw-bold">
                                            {{ item.name }}
                                            <span class="fw-bold text-primary mx-1">/</span>
                                            {{ item.email }}
                                        </div>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
                <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                    <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                        <div class="mb-4 mb-xl-0">
                            <div class="fs-3 fw-bold text-white">Мы — Ваши руки и глаза в Китае!</div>
                            <div class="text-white-50">Честность и открытость с клиентами — наш девиз! Мы всегда на связи и рады ответить на все Ваши вопросы!</div>
                        </div>
                        <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Зарегистрироваться</button>
                        </div>
                        <div class="small text-white-50">Мы заботимся о вашей приватности.</div>
                        </div>
                    </div>
                </aside>
                </div>
            </section>
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
