{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'test_app/include_files/head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include 'test_app/include_files/navigation.html' %}
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="mb-5">
                            <br>
                            <br>
                            {% if news02.title %}
                                <h1 class="fw-bolder">{{ news02.title }}</h1>
                                <p class="lead fw-normal text-muted">{{ news02.text|linebreaks }}</p>
                            {% endif %}

                            {% if news02.img1 %}
                            <div class="slideshow-container">
                                {% if news02.img1 %}
                                <div class="mySlides fade">
                                  <img src="{{news02.img1.url}}" style="width:100%">
                                </div>
                                {% endif %}
                                {% if news02.img2 %}
                                <div class="mySlides fade">
                                  <img src="{{news02.img2.url}}" style="width:100%">
                                </div>
                                {% endif %}
                                {% if news02.img3 %}
                                <div class="mySlides fade">
                                  <img src="{{news02.img3.url}}" style="width:100%">
                                </div>
                                {% endif %}
                                {% if news02.img4 %}
                                <div class="mySlides fade">
                                  <img src="{{news02.img4.url}}" style="width:100%">
                                </div>
                                {% endif %}
                                {% if news02.img5 %}
                                <div class="mySlides fade">
                                  <img src="{{news02.img5.url}}" style="width:100%">
                                </div>
                                {% endif %}
                                {% if news02.img1 and news02.img2 %}
                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>
                                {% endif %}
                                </div>
                                <br>
                                {% if news02.img1 and news02.img2 %}
                                <div style="text-align:center">
                                    {% if news02.img1 %}
                                      <span class="dot" onclick="currentSlide(1)"></span>
                                    {% endif %}
                                    {% if news02.img2 %}
                                      <span class="dot" onclick="currentSlide(2)"></span>
                                    {% endif %}
                                    {% if news02.img3 %}
                                      <span class="dot" onclick="currentSlide(3)"></span>
                                    {% endif %}
                                    {% if news02.img4 %}
                                      <span class="dot" onclick="currentSlide(2)"></span>
                                    {% endif %}
                                    {% if news02.img5 %}
                                      <span class="dot" onclick="currentSlide(2)"></span>
                                    {% endif %}
                                </div>
                                {% endif %}
                                <script>
                                    let slideIndex = 1;
                                    showSlides(slideIndex);

                                    function plusSlides(n) {
                                      showSlides(slideIndex += n);
                                    }

                                    function currentSlide(n) {
                                      showSlides(slideIndex = n);
                                    }

                                    function showSlides(n) {
                                      let i;
                                      let slides = document.getElementsByClassName("mySlides");
                                      let dots = document.getElementsByClassName("dot");
                                      if (n > slides.length) {slideIndex = 1}
                                      if (n < 1) {slideIndex = slides.length}
                                      for (i = 0; i < slides.length; i++) {
                                        slides[i].style.display = "none";
                                      }
                                      for (i = 0; i < dots.length; i++) {
                                        dots[i].className = dots[i].className.replace(" active", "");
                                      }
                                      slides[slideIndex-1].style.display = "block";
                                      dots[slideIndex-1].className += " active";
                                    }
                                    let timer = setInterval(function() { plusSlides(1); }, 5000); // сохраняем идентификатор интервала в переменной
                                    let slides = document.getElementsByClassName("mySlides"); // получаем элементы слайдов
                                    for (let i = 0; i < slides.length; i++) { // для каждого слайда
                                      slides[i].addEventListener("mouseover", function() { // добавляем обработчик события при наведении мыши
                                        clearInterval(timer); // останавливаем интервал
                                      });
                                      slides[i].addEventListener("mouseout", function() { // добавляем обработчик события при убирании мыши
                                        timer = setInterval(function() { plusSlides(1); }, 5000); // возобновляем интервал
                                      });
                                    }
                                </script>
                            {% endif %}
                            <br>
                            <br>
                            <br>
                            {% if news02.video_link %}
                                    <div class="container-fluid">
                                        <iframe src={{ news02.video_link }}></iframe>
                                    </div>
                            {% endif %}
                            <p class="lead fw-normal text-muted">{{ news02.create }}</p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Call to action-->
        {% include 'test_app/include_files/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
