{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'test_app/include_files/head.html' %}
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include 'test_app/include_files/navigation.html' %}
            <!-- Page Content-->
            <section class="py-5">
                <br>
                <br>
                <br>
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">{{title}}</h1>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script>
                    jQuery(document).ready(function($) {
                      $('.spoiler_title').click(function() {
                         $(this).parents('.spoiler_wrap').find('.spoiler_content').toggleClass('open');
                             $(this).parents('.spoiler_wrap').find('.spoiler_arrow').toggleClass('open');
                      });
                    });
                    </script>
                    {% for item in object_list %}
                    {% if item.title %}
                        <div class="spoiler_wrap">
                            <div class="spoiler_title"><h2>{{ item.title }}</h2>
                                <span class="spoiler_arrow"><svg viewBox="-122.9 121.1 105.9 61.9"><path d="M-63.2 180.3l43.5-43.5c1.7-1.7 2.7-4 2.7-6.5s-1-4.8-2.7-6.5c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.7L-69.9 161l-37.2-37.2c-1.7-1.7-4-2.7-6.5-2.7s-4.8 1-6.5 2.6c-1.9 1.8-2.8 4.2-2.8 6.6 0 2.3.9 4.6 2.6 6.5 11.4 11.5 41 41.2 43 43.3l.2.2c3.6 3.6 10.3 3.6 13.9 0z"></path></svg></span>
                            </div>
                            <div class="spoiler_content">
                                {% if user.is_superuser %}
                                    <a href="{% url 'test_app:news_delete' pk=item.pk %}">
                                        <button class="d-button" type="button">Удалить</button>
                                    </a>
                                    <a href="{% url 'test_app:update_news' pk=item.pk %}">
                                        <button class="n-button" type="button">Изменить</button>
                                    </a>
                                {% endif %}
                                <p class="lead fw-normal text-muted">{{ item.text|linebreaks }}</p>
                                {% if item.video_link %}
                                <center>
                                    <div class="container-fluid">
                                        <iframe src={{ item.video_link }}></iframe>
                                    </div>
                                </center>
                                {% endif %}
                                <p class="lead fw-normal text-muted">{{ item.create }}</p>

                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}


                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="/news-list?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="/news-list?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}

                </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            </section>
        </main>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Call to action-->
        {% include 'test_app/include_files/footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
