{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'test_app/include_files/head.html' %}
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            {% include 'test_app/include_files/navigation.html' %}
            <br>
            <br>
            <!-- Page content-->
            <section class="py-5">
                <div class="container px-5">
                    <!-- Contact form-->
                    <div class="rounded-3 py-5 px-4 px-md-5 mb-5">
                        <div class="text-center mb-5">
                            <h1 class="fw-bolder">Подать заявку</h1>
                            <br>
                            <br>
                            <div class="text-center mb-5">
                                <a href="/media/blank-zakaza.xlsx" download="">
                                    <button class="s-button" type="button">Скачать бланк заказа</button>
                                </a>
                            </div>
                        </div>

                        <div class="row gx-5 justify-content-center">
                            <br>
                            <br>

                            <div class="div_half3small">
                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">1</h2>
                                    <p class="mb-0 div_half2text">Выбрать нужный Вам товар на сайтах 1688.com, taobao.com, jd.com, vip.com, poizon.com.</p>
                                    <br>
                                </div>
                                <div class="div_halfarrow">
                                    <div class="arrow-2">
                                        <div class="arrow-2-top"></div>
                                        <div class="arrow-2-bottom"></div>
                                    </div>
                                </div>

                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">2</h2>
                                    <p class="mb-0 div_half2text">Скачать нашу форму заявки в Exel, и вставить в неё выбранные ссылки, количество, цвет и другие важные спецификации.</p>
                                    <br>
                                </div>
                                <div class="div_halfarrow">
                                    <div class="arrow-2">
                                        <div class="arrow-2-top"></div>
                                        <div class="arrow-2-bottom"></div>
                                    </div>
                                </div>

                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">3</h2>
                                    <p class="mb-0 div_half2text">Отправить заполненный файл на нашу почту rassvetchina@yandex.ru или в WhatsApp (VK или Telegram) нашим менеджерам.</p>
                                    <br>
                                </div>
                                <div class="div_halfarrow">
                                    <div class="arrow-2">
                                        <div class="arrow-2-top"></div>
                                        <div class="arrow-2-bottom"></div>
                                    </div>
                                </div>

                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">4</h2>
                                    <p class="mb-0 div_half2text">Наши менеджеры рассчитывают для Вас стоимость выкупа вместе с доставкой до нашего склада в Китае и дают Вам ориентировочную стоимость доставки до Москвы.</p>
                                    <br>
                                </div>
                                <div class="div_halfarrow">
                                    <div class="arrow-2">
                                        <div class="arrow-2-top"></div>
                                        <div class="arrow-2-bottom"></div>
                                    </div>
                                </div>

                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">5</h2>
                                    <p class="mb-0 div_half2text">Если все цены Вас устраивают, то начинаем процесс выкупа. Вы отправляете нам рубли на российскую карту, мы обмениваем их на юани и сразу выкупаем товар за юани.</p>
                                    <br>
                                </div>
                                <div class="div_halfarrow">
                                    <div class="arrow-2">
                                        <div class="arrow-2-top"></div>
                                        <div class="arrow-2-bottom"></div>
                                    </div>
                                </div>

                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">6</h2>
                                    <p class="mb-0 div_half2text">После поступления товара на наш склад, мы делаем фото и видео товара, отправляем Вам. Если все соответствует заказу и нет претензий к поставщику, то мы упаковываем и отправляем товар в РФ или Казахстан. Если есть несоответствия заказу, мы связываемся с поставщиком и решаем их.</p>
                                    <br>
                                </div>
                                <div class="div_halfarrow">
                                    <div class="arrow-2">
                                        <div class="arrow-2-top"></div>
                                        <div class="arrow-2-bottom"></div>
                                    </div>
                                </div>

                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">7</h2>
                                    <p class="mb-0 div_half2text">В течение нескольких дней после отправки груза мы выставляем счет в долларах на доставку до РФ и Казахстана. Доставка осуществляется до распределительного склада в Москве или Алма-Аты, по прибытии груза в эти пункты, мы связываемся с Вам и сообщаем курс рубля на день поступления груза, и производится оплата.</p>
                                    <br>
                                </div>
                                <div class="div_halfarrow">
                                    <div class="arrow-2">
                                        <div class="arrow-2-top"></div>
                                        <div class="arrow-2-bottom"></div>
                                    </div>
                                </div>

                                <div class="div_half3">
                                    <h2 class="h5 div_half2header">8</h2>
                                    <p class="mb-0 div_half2text">Далее груз идет местной транспортной компанией до вашего города с оплатой при получении. Кроме того, можно самостоятельно забрать груз с распределительного склада самовывозом.</p>
                                    <br>
                                </div>
                            </div>

                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </section>
        <!-- Call to action-->
        {% include 'test_app/include_files/footer.html' %}
        </main>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
